.controller {
  margin: 10px 0;
  font-size: 1.3em;
}

.length {
  display: inline-block;
  width: 48px;
}

.btn-arrow {
  background: none;
  border: none;
}

.btn-arrow:focus {
  background: none;
  color: #26a69a;
}
.btn-arrow:hover {
  cursor: pointer;
  color: #26a69a;
}

.btn-arrow:active {
  color: #fff;
}
